.page {
  background-image: url($image-background);
  background-position: center;
  height: 100vh;
}

.header__logo a {
  text-decoration: none;
}

.header__logo h1 {
  font-family: $font-charmonman;
}

#first {
  font-weight: 100;
  color: white;
}

#second {
  color: #E58A20;
  font-weight: 700;
}

.header {
  height: 80px;
  background-color: $color-dark-grey;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #292929;
  z-index: 1;
}

.header__container {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__logo {
    font-size: 28px;
  }

  .header__nav {
    display: flex;
    font-size: 28px;
    align-items: center;

    .header__user-name {
      margin-right: 25px;
      font-family: $font-open-sans;
      color: $color-white;
      font-weight: 300;
    }

    .header__user-icon {
      margin-right: 55px;
      font-size: 38px;
      color: $color-orange;
    }

    .header__user-icon a {
      color: $color-orange;
    }
  }
}

.menu__main {
  width: 234px;
  height: calc(100vh - 80px);
  background: $color-grey;

  .main__list {
    font-size: 30px;
    align-items: center;

    .main__list-text {
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 10px;
      display: flex;
      justify-content: space-between;
    }

    .main__list-text:hover {
      border-left: 5px solid $color-orange;
      padding-left: 5px;
      padding-bottom: 20px;
    }

    .main__list-text:hover::after {
      content: ">";
      font-size: 35px;
      color: $color-orange;
      font-weight: bold;
      padding-right: 10px;
    }

    .main__list-text a {
      text-decoration: none;
      color: $color-white;
      font-family: $font-open-sans;
      font-weight: 300;
    }
  }
}

