.cta-section {
	background: $color-grey;
	color: $color-white;
	font-family: $font-open-sans;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 110px;

	&__header {
		font-weight: 400;
		font-size: 2.5rem;
		margin-bottom: 40px;
	}

	&__text {
		padding-right: 30px;
	}

	&__link {
		text-decoration: none;
		color: $color-white;
		background-color: $color-orange;
		text-align: center;
		padding: 20px 50px;
		transition: all 0.2s;

		&:hover {
			text-decoration: none;
			color: $color-orange;
			background-color: $color-white;
		}
	}
}
