$color-grey: #5B605F;
$color-dark-grey: #4a4a49;
$color-orange: #FF6600;
$color-white: #FFFFFA;
$color-blue: #3498DB;
$color-yellow: #FFB03B;
$color-green: #468966;
$color-red: #BD4932;
$color-light-grey: #A1A194;
$color-body-background: #BADA55;
$color-light-grey_2: #EBEBEB;
